h1 {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 50px;
  margin: 0;
  background: url("../img/table.jpg") center center no-repeat;
  background-size: cover;
  color: white;
}

.row {
  background: #fa3838;
}

#main {
  padding: 0 50px 200px 50px;
  background: white;
}

#mainInner {
  width: 500px;
  margin: 0 auto;
}

ul {
  margin-left: 100px;
  padding-left: 0;
}

#sidebar {
  color: white;
}

#sidebarInner {
  width: 200px;
  margin: 0 auto;
}

.alert {
  display: none;
  width: 475px;
  margin-top: 10px;
}

a, a:visited, a:hover, a:focus {
  color: white;
}

/* ===== MOBILE LAYOUT ===== */

@media screen and (max-width: 991px) {
  #main {
    text-align: center;
    padding-bottom: 20px;
  }

  ul {
    margin-left: 0;
  }

  li {
    list-style-type: none;
  }
}
