body {
  background:
}

h1 {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 50px;
  margin-bottom: 0;
  background: url("../img/table.jpg") center center no-repeat;
  background-size: cover;
  color: white;
}

#sidebar {
  background: #fa3838;
  color: white;
}

#sidebarInner {
  width: 200px;
  margin: 0 auto;
}

#main {
  padding: 0 50px;
}

.alert {
  display: none;
  width: 480px;
  margin-top: 10px;
}

a, a:visited, a:hover, a:focus {
  color: white;
}

#clear {
  clear: both;
  width: 100%;
}
